.BrewTimerButton {
    position: absolute;
    bottom: 4%;
    right: 2%;
    border: 1px solid white;
    border-radius: 10px;
    border-color: #5caa48;
    background-color: #5caa48;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BrewTimerButton:hover {
    cursor: pointer;
}

.BrewTimerButton img {
    width: 40px;
    margin-left: 5px;
}

.BrewTimer {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #d7d9d7;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    bottom: 4%;
    right: 10%;
    width: 400px;
    height: 500px;
    padding-inline: 10px;
    gap: 10px;
}

.BrewTimer .Searchbar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.BrewTimer h1 {
    padding-block-start: 15px;
}

.BrewTimer .Searchbar label {
    padding-block-start: 100px;
    text-align: left;
}

.BrewTimer .Searchbar input {
    height: 32px;
    border-radius: 6px;
    border-style: none;
    z-index: 999;
}

.SearchedTeas {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    padding-block-start: 20px;
    padding-block-end: 5px;
    padding-inline-start: 5px;
    top: 155px;
    width: 100%;
    height: max-content;
    max-height: 135px;
    border: 1px solid #d7d9d7;
    border-style: none;
    background-color: #e9e9e9;
    border-radius: 0 0 6px 6px;
}