.Profile {
    height: 100%;
}

.Profile .Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Profile .Top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Profile .Top button {
    font-size: 0.8rem;
    height: 35px;
    width: 100px;
    background-color: #db504c;
    color: #eeeeee;
    border-radius: 5px;
    border: #eeeeee;
    cursor: pointer;
}

.Profile .Top img {
    height: 25px;
    filter: invert(1);
    cursor: pointer;
}

.Main form {
    padding: 20px;
}


.Profile-Form label {
    font-size: 1.2rem;
}

.Profile-Form input {
    border-radius: 10px;
    border-style: none;
    height: 30px;
    width: 225px;
    font-size: 1.1rem;
    text-indent: 5px;
}

.Profile-Form button {
    font-size: 0.8rem;
    height: 35px;
    width: 100px;
    background-color: #5caa48;
    color: #eeeeee;
    border-radius: 5px;
    border: #eeeeee;
    cursor: pointer;
}

.End button:hover, .Profile-Form button:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

.Profile-Form .Name, .Profile-Form .Username, .Profile-Form .Password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.Profile .End {
    position: absolute;
    bottom: 3%;
    right: 3%;
    display: flex;
    align-content: end;
    justify-content: flex-end;
    gap: 10px;
}

.Profile .End button {
    font-size: 0.8rem;
    height: 35px;
    width: 100px;
    color: #eeeeee;
    border-radius: 5px;
    border: #eeeeee;
    cursor: pointer;
}

.Profile .End .Journey button {
    background-color: #5a65ea;
}

.Profile .End .Logout button {
    background-color: #ea454b;
}