.ReactModal__Content--after-open h1 {
    font-size: 2rem;
}

.Page {
    border-radius: 20px;
    border-color: none;
    background: linear-gradient(-90deg, #969f77, #d3dbb5);
    padding: 30px;
}

.Page .Description h1 {
    font-size: 2rem;
}

.Page .Description span {
    font-size: 0.9rem;
    padding-block-end: 15px;
}

.Page .Description h3 {
    padding-block: 10px;
}