.TeaRatingModal {
    position: relative;
}

.TeaRatingModal .Close {
    position: absolute;
    top: -17%;
    right: -3%;
}

.TeaRatingModal .Close img {
    height: 15px;
    filter: invert(1);
    cursor: pointer;
}

.TeaRatingModal h2 {
    display: flex;
    justify-content: center;
    color: #fff;
}
.TeaRatingModal .Stars {
    display: flex;
    justify-content: center;
    padding-block-start: 20px;
}

.TeaRatingModal .StarWrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 30px;
}

.TeaRatingModal .StarWrapper:last-child {
    margin-right: 0; /* Remove margin from the last star div */
}

.TeaRatingModal .StarImage {
    height: 20px;
}